.profile-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 15% 0 15%;
}

.box {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.container {
  height: 70vh;
  border: 3px solid grey;
  border-radius: 8px;
}
