header {
  display: flex;
  border-bottom: rgba(0, 0, 0, 0.445) solid 2px;
  justify-content: space-between;
  padding-bottom: 1rem;
}

header div {
  display: flex;
}

header div h1 {
  padding-left: 2rem;
}

.logo {
  height: 5rem;
}

header nav {
  align-items: center;
  margin: auto 0;
  font-size: 15px;
  padding-right: 10rem;
}

.rocket-link {
  padding-right: 30px;
  text-decoration: none;
  color: rgba(0, 0, 255, 0.774);
}

.mission-link {
  padding-right: 15px;
  text-decoration: none;
  color: rgba(0, 0, 255, 0.774);
}

.prof-link {
  padding-left: 15px;
  border-left: black 2px solid;
  text-decoration: none;
  color: rgba(0, 0, 255, 0.774);
}
