header {
  display: flex;
  border-bottom: rgba(0, 0, 0, 0.445) solid 2px;
  justify-content: space-between;
  padding: 0 5% 0 5%;
}

.logo-div {
  display: flex;
}

.logo {
  width: 8%;
  height: 90%;
}

h1 {
  margin-left: 2%;
}

nav {
  width: 40%;
}

.nav-links {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}

.nav-link {
  margin-left: 2%;
}
